@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@layer base {
  body {
    @apply font-[Popins];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  } 
}

.content-div{
  background-repeat: no-repeat;
  background_size: cover;
  background_position: center;
  height:200px;
  

}

.content-div:hover{
  background-image: linear-gradient(
    to right,
    rgb(0, 137, 123),
    hsl(173.87,100.00%,26.86%)
  )!important;
}